.fc-timegrid-event-harness:has(.my-calendar-event-title:hover) {
    z-index: 999 !important;
}

.my-event-container {
    display: block;
    width: 100%;
    /* overflow: hidden; */
}
.my-event-container:hover {
    width: 200%; /*横幅は最大200%まで*/
    /* background-color: red; */
}
.my-calendar-event-title {
    display: block;
    width: 100%;
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* transition: all 0.2s ease; */
}

.my-calendar-event-title:hover {
    display: inline-block;
    width: fit-content; /*文字数の分だけ横幅を伸ばす*/
    white-space: normal;
    word-break: break-all;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: visible;
}
